extends layout
block content
	div.container
		h1 Новостная лента
		p всегда актуально
		ul
			- for(post in posts) {
				li
					a(href=posts[post].url)= posts[post].title
					| &nbsp;- (
					a(href=posts[post].url)= posts[post].post
					| &nbsp;- (
					a(href="delete/#{bookmarks[bookmark].id}") удалить
					| )
			- }
		form(action="add", method="post")
			label Заголовок:
			input(type="text", name="title")
			label Сообщение:
			input(type="text", name="post")
			label Путь к файлу:
			input(type="text", name="url")
			input(type="submit", value="Добавить сообщение")